.container {
	background-color: var(--link-item-bgc);
	padding-block: 1.5rem;
	border-radius: 10px;
	font-size: clamp(0.9rem, (1vw + 0.6rem), 2rem);

	.shortened-link {
		margin: 1rem 0 0.5rem 1rem;
	}
	.old-link-box,
	.new-link-box {
		text-align: left;
		margin-bottom: 0.5rem;
		margin-left: 6%;
	}
	.old-link-box {
		width: 150px;
		.old {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.new-link-box {
		width: 100%;
		.shortened {
			margin-top: 1rem;
			color: var(--new-link);
		}
	}
	.separate-line {
		margin: 0 auto;
		height: 1px;
		background-color: var(--gray);
	}
	.button-box {
		margin: 1.5rem auto 1rem;
		width: 90%;
	}
	.remove-button-box,
	.copy-button-box {
		width: 90%;
		margin: 1rem auto;

		button {
			width: 100%;
			padding: 1.1rem;
			border-radius: 5px;
			font-size: inherit;
		}
	}
	.remove-button-box {
		button {
			color: var(--white);
			background-color: var(--remove-button);
		}
		button:hover {
			background-color: var(--remove-button-hover);
		}
	}
	.copy-button-box{
		button{
			background-color: var(--buttons-bgc);
			color: var(--white);
		}
		button:hover{
			background-color: var(--buttons-bgc-hover);
		}
	}
	.copy-button-box{
		.copied-bgc{
			background-color: var(--copied);
		}
		.copied-bgc:hover{
			background-color: var(--copied);

		}
	}
}
.container:not(:first-child) {
	margin-top: 1rem;
}
@media (min-width: 500px) {
	.container {
		.old-link-box {
			width: 300px;
		}
	}
}
@media (min-width: 768px) {
	.container {
		padding: 2rem 2rem 2rem 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.button-box {
			margin: 0;
		}

		.old-link-box {
			margin-left: 0.5rem;
			display: flex;
		}
		.separate-line {
			display: none;
		}

		.desktop-flex {
			width: 50%;
			display: flex;
			align-items: center;
			gap: 5%;

			.new-link-box {
				width: 180px;
				margin-left: 0;
				margin-bottom: 0;
				.shortened {
					margin-top: 0;
				}
			}
			.remove-button-box {
				width: 25%;
				margin: 0;
			}
			.copy-button-box {
				width: 25%;
				margin: 0;
			}
		}
	}
}
@media (min-width: 992px) {
	.container {
		.old-link-box {
			width: 475px;
		}
		.desktop-flex {
			width: 40%;
		}
	}
}
