.button {
	width: 100%;
	padding: 1.1rem;
	border-radius: 5px;
	font-size: inherit;
	color: var(--white);
	background-color: var(--buttons-bgc);
}
.button:hover {
	background-color: var(--buttons-bgc-hover);
}
